/****** layout ******/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 34px; */
  height: 80px;
  background-color: #ffffff;
}
header > div {
  display: flex;
  align-items: center;
  margin-right: 58px;
}
main {
  display: flex;
  width: 100vw;
  height: calc(100vh - 80px);
  background-color: #fafafa;
}

/****** header ******/
/* 로고 */
h1 {
  width: 248px;
  height: 100%;
  border-right: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  padding-left: 30px;
  line-height: 80px;
}
h1 a {
  display: inline-block;
}

/* 프로필 메뉴 */
.toggle-wrap {
  position: relative;
  display: flex;
}
.alaram{
  position: relative;
  margin-right: 1rem;
  font-size: 1.5rem;
}
.alaram.send::after{
  position: absolute;
  right: 20%;
  top: 48%;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #2a87eb;
  border: 1px solid #ffffff;
  border-radius: 100%;
}
.alaram i{
  color: #878787;
}
.toggle-btn {
  display: flex;
  align-items: center;
}
.toggle-btn span {
  font-size: .88rem;
  color: #7f7f7f;
}
.toggle-btn .img {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: linear-gradient(-15deg,  #f677ec,#fda65f);
  border-radius: 100%;
  overflow: hidden;
  color: #ffffff;
  line-height: 35px;
}
.toggle-btn i {
  margin-left: 10px;
  font-size: .7rem;
  color: #7f7f7f;
}
.toggle-btn + input {
  width: 0;
}
/* 프로필 메뉴 리스트 */
.toggle-content {
  position: absolute;
  top: 2.5rem;
  right: 0;
  width: 200px;
  /* border: 1px solid rgb(243, 243, 243); */
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 10px rgb(226 226 226 / 30%);
}
.toggle-content p {
  padding: 5px;
}
.toggle-content p button:last-child {
  margin-bottom: 0;
}
.toggle-content p.gubun {
  border-top: 1px solid rgb(243, 243, 243);
}
.toggle-content button {
  width: 100%;
  margin-bottom: 5px;
  padding: 0.5rem;
  border: 0;
  text-align: left;
  border-radius: 5px;
  background: none;
  color: rgb(100, 100, 100);
  cursor: pointer;
}
.toggle-content button:hover {
  background: #f7f7f7;
  color: #333;
}
.toggle-content p.gubun button:hover {
  background: rgb(255, 239, 241);
  color: rgb(255, 57, 57);
}

/****** aside ******/
aside {
  display: flex;
  flex-direction: column;
  width: 248px;
  height: 100%;
  background-color: #ffffff;
}
aside nav h3 {
  padding: 40px 34px 25px;
  font-size: 1rem;
  font-weight: 400;
  color: #7f7f7f;
}
.gnb li {
  position: relative;
}
.gnb li a {
  display: flex;
  align-items: center;
  padding-left: 34px;
  line-height: 48px;
  font-size: 0.88rem;
}
.gnb li a i {
  margin-right: 20px;
  color: #b3b3b3;
}
.gnb li a.active{
  background-color: #ecf3fc;
}
.gnb li a.active *{
  color: #0072ea;
}
.gnb li a.active:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 5px;
  height: 48px;
  background-color: #0072ea;
}
.contact-menu {
  display: flex;
  flex-direction: column;
}
.contact-menu li {
  display: block;
  padding-left: 34px;
  line-height: 48px;
}
.contact-menu li a {
  font-size: 0.88rem;
}
.contact-menu li a i {
  margin-right: 20px;
  color: #ff9500;
}
.contact-menu li:last-of-type a i{
  color: #8138ff;
}

/****** content ******/
.content {
  padding: 60px 28px;
  width: calc(100% - 248px);
  height: 100%;
  overflow: overlay;
}
.content h2 {
  margin: 0 30px 10px;
  font-weight: 600;
  font-size: 30px;
}
.content > section {
  display: inline-block;
  margin: 30px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 1.5rem;
  word-break: break-all;
  box-shadow: 0 0 30px #eeeeee;
}
.content > section > b {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 1rem;
}
.content > section > b + p{
  color: #7e7e7e;
}
