@import 'https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css';
@import 'https://meyerweb.com/eric/tools/css/reset/reset.css';
@import 'https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Source+Code+Pro:wght@300;400;500;600&display=swap';

/****** common ******/
html {
  font-size: 16px;
  overflow: overlay;
}
* {
  box-sizing: border-box;
  color: #000000;
}
body {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
}
.ko {
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.5rem;
}
img {
  width: 100%;
  vertical-align: middle;
}
a {
  color: inherit;
  text-decoration: none;
}
i {
  vertical-align: middle;
}
button,
input {
  border: none;
  background: none;
  outline: none;
}
a,
button {
  cursor: pointer;
}